<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pyramid Learning Journal, CF 401">
    <meta name="author" content="Chelsea Dole">

    <title>Chelsea Dole</title>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="../static/css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/journal/new-entry">Create New Entry</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/post-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>CF 401, Day 01</h1>
              <span class="meta">Posted by
                <a href="#">Chelsea Dole</a>
                on 10/16/2016</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">

            <h4><a href="/journal/1/edit-entry">Edit Entry</a></h4><br>

            <p>The history of all hitherto existing societies is the history of class struggles
.  Freeman and slave, patrician and plebeian, lord and serf, guild-master and jo
urneyman, in a word, oppressor and oppressed, stood in constant opposition to on
e another, carried on an uninterrupted, now hidden, now open fight, a fight that
 each time ended, either in a revolutionary re-constitution of society at large,</p>

            <p>or in the common ruin of the contending classes.  In the earlier epochs of hist
ory, we find almost everywhere a complicated arrangement of society into various
 orders, a manifold gradation of social rank.  In ancient Rome we have patrician
s, knights, plebeians, slaves; in the Middle Ages, feudal lords, vassals, guild-
masters, journeymen, apprentices, serfs; in almost all of these classes, again, </p>

            <p>subordinate gradations.  The modern bourgeois society that has sprouted from the
 ruins of feudal society has not done away with class antagonisms.  It has but e
stablished new classes, new conditions of oppression, new forms of struggle in p
lace of the old ones.  Our epoch, the epoch of the bourgeoisie, possesses, howev
er, this distinctive feature: it has simplified the class antagonisms. Society a.</p>

            <h2 class="section-heading">Más Comunismo</h2>

            <p>feudal society has not done away with class antagonisms.  It has but e
stablished new classes, new conditions of oppression, new forms of struggle in p
lace of the old ones.  Our epoch, the epoch of the bourgeoisie, possesses, howev
er, this distinctive feature: it has simplified the class antagonisms. Society a.</p>

            <p>or in the common ruin of the contending classes.  In the earlier epochs of hist
ory, we find almost everywhere a complicated arrangement of society into various
 orders, a manifold gradation of social rank.  In ancient Rome we have patrician
s, knights, plebeians, slaves; in the Middle Ages, feudal lords, vassals, guild-
masters, journeymen, apprentices, serfs; in almost all of these classes, again,</p>

            <blockquote class="blockquote">Let the proletariat rise!</blockquote>

          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="www.facebook.com/chelsea.dole">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="www.github.com/chelseadole">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Chelsea Dole 2017</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/clean-blog.min.js"></script>

  </body>

</html>