{% extends "layout.jinja2" %}
{% block content %}

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h4><a href="{{ request.route_url('edit-entry', id=ljpost.id }}">Edit Entry</a></h4><br>
                <p>{{ ljpost.body }}</p>
          </div>
        </div>
      </div>
    </article>
    <hr>
{% endblock %}