{% extends "layout.jinja2" %}
{% block content %}
 <header class="masthead" style="background-image: url('../static/img/post-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ ljpost.title }}</h1>
              <span class="meta">Posted by
                <a href="#">{{ ljpost.author}}</a>
                on {{ ljpost.creation_date }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h4><a href="{{ request.route_url('edit-entry', id=ljpost.id }}">Edit Entry</a></h4><br>
                <p>{{ ljpost.body }}</p>
          </div>
        </div>
      </div>
    </article>
    <hr>
{% endblock %}