{% extends "layout.jinja2" %}
{% block content %}
 <header class="masthead" style="background-image: url('../../static/img/post-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h2>Edit Entry</h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form>
                <p>Title:</p>
                <input type="text" value="{{ lsposts.title }}">
                <p>Body:</p>
                <input type="text" value="{{ ljposts.body }}">
                <br><br>
                <input type="submit" name="Submit">
            </form>
          <hr>
          <!-- Pager -->
        </div>
      </div>
    </div>
{% endblock %}