{% extends "layout.jinja2" %}
{% block content %}
<header class="masthead" style="background-image: url('../static/img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Pyramid Learning Journal</h1>
              <span class="subheading">Chelsea Dole</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% block postsection %}
          {% for post in ljposts %}
          <div class="post-preview">
            <a href="/journal/{{ post.id }}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="">{{ post.author }}</a>
              on {{ post.creation_date }}</p>
          </div>
          <hr>
          {% endfor %}
          {% endblock %}
    
{% endblock %}
