
{% extends "layout.jinja2" %}
{% block content %}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form method="POST">
                <p>Title:</p>
                <input type="text" name="title">
                <p>Body:</p>
                <textarea type="text" style="width: 100%;" name="body"></textarea>
                <br><br>
                <input type="submit" rows="8" name="Submit">
            </form>
          <hr>
{% endblock %}